$text-color: #ffffff;
$button-color: #7b68ee;
$button-boxshadow-color: rgb(123 104 238 / 25%);
$defaultbtn-bgcolor: #3e57d0;
$section-title-color: #ff9800;
$section-text-color: #0b0b31;
$service-icon-color: #ff561d;
$progress-color: #f1f1fa;
$team-color: #5764ec;
$blog-bgcolor:#fafbfc;
$footer-bgcolor:#1c1c23;
$footer-text-color:#ececec;
$copyright-bgcolor:#212129;
$service-text-color:#5f5f5f;
$background-color: linear-gradient(
  to bottom,
  #370b6f,
  #00429b,
  #006dba,
  #0095ce,
  #2dbcdc
);

$font-style: 'Dosis', sans-serif;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
