@import "_variables";

body{
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "Catamaran", sans-serif !important;  
    .about-page{
        img {
            max-width: 100%;
            height: auto;
        }
        .default-btn {
            border: none;
            text-align: center;
            overflow: hidden;
            z-index: 1;
            color: #ffffff;
            background-color: #7b68ee;
            transition: 0.4s;
            border-radius: 3px;
            font-weight: 600;
            font-size: 15px;
            padding:12px  40px 12px 40px;
            box-shadow: 0 7px 25px rgb(123 104 238 / 25%);
            text-decoration: none;
        
            &:hover {
              color: $text-color;
              background-color: #3e57d0;
              transition: width 0.5s ease-in-out, height 0.5s ease-in-out !important;
              transform: translate(-50%, -50%);
              z-index: -1;
              border-radius: 30px;
            }
          }
        .home-area{
            position: relative;
            z-index: 1;
            background-image: url(https://cutesolution.com/html/Techvio/assets/img/page-title-bg.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 500px;
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #030821;
                left: 0;
                top: 0;
                opacity: 0.5;
                z-index: -1;
                }
                .navbar {
                    padding-top: 1.5rem;
                    width: 100%;
                    .navbar-nav {
                        margin-left: 15%;
                
                        @media only screen and (min-width: 320px) and (max-width: 800px) {
                        margin-left: 0 !important;
                        }
                         .nav-item {
                            .nav-link {
                                font-size: 16px;
                                font-weight: 600;
                                color: $text-color;
                                text-transform: capitalize;
                                padding:0 0 ;
                                margin: 0 15px;
                                text-decoration: none;
                                &:hover{
                                    color: $defaultbtn-bgcolor;
                                }
                            }
                        }
                    }
                }
                .page-title-area{
                    .d-table {
                        width: 100%;
                        height: 100%;
                        .d-table-cell {
                            vertical-align: middle;
                            .page-title-content {
                                text-align: center;
                                margin-top: 9em;
                                 h2 {
                                    margin-bottom: 0;
                                    color: $text-color;
                                    font-size: 42px;
                                    font-weight: 700;
                                    font-family: 'Dosis', sans-serif;
                                }
                                ul {
                                    list-style-type: none;
                                    margin-top: 12px;
                                    padding-left: 0;
                                    font-family: 'Catamaran', sans-serif;
                                    li {
                                        color: $text-color;
                                        display: inline-block;
                                        position: relative;
                                        font-weight: 600;
                                        font-size: 18px;
                                        margin:0px 10px ;
                                        &:first-child::before {
                                            content: '';
                                            position: absolute;
                                            right: -15px;
                                            top: 11px;
                                            width: 6px;
                                            height: 6px;
                                            border-radius: 50%;
                                            background-color: $button-color;
                                        }
                                        a {
                                            display: inline-block;
                                            color: $text-color;
                                            transition: 0.4s;
                                            font-weight: 600;
                                            font-size: 18px;
                                            text-decoration: none;
                                            &:hover{
                                                color: $button-color;
                                            }
                                        }
                                    }
                                 }
                            }
                        }
                    }
        
                }   
        }
        .about-area {
            position: relative;
            z-index: 1;
        
            .about-content {
              h6 {
                color: $button-color;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-family: $font-style  !important;
              }
        
              h2 {
                font-size: 38px;
                font-weight: 700;
                margin-bottom: 20px;
                font-family: $font-style  !important;
              }
        
              .about-content-text {
                p {
                  margin-bottom: 15px;
                }
              }
            }
        
            .skills {
              margin-top: 30px;
              // transform: translate(-50%, -50%);
        
              .skill-item {
                margin-bottom: 25px;
        
                h6 {
                  position: relative;
                  z-index: 4;
                  font-size: 15px;
                  letter-spacing: 0.7px;
                  text-transform: capitalize;
                  font-weight: 600;
                  margin-bottom: 10px;
                }
        
                h6 em {
                  float: right;
                  font-size: 15px;
                  font-style: normal;
                }
        
                .skill-progress {
                  position: relative;
                  height: 5px;
                  border-radius: 5px;
                  background: $progress-color;
                }
              }
            }
        
            .about-btn-box {
              margin-top: 35px;
              display: inline-block;
            }
        
            .about-image {
              position: relative;
              text-align: center;
              margin-left: 0px;
        
              .years-design {
                position: absolute;
                left: -5em;
                bottom: 25px;
                text-align: left;
                padding: 20px 30px 20px 30px;
                background: $text-color;
                border-bottom: 2px solid #ff9800;
                box-shadow: -1px 3px 20px 0px rgb(82 90 101 / 10%);
        
                h2 {
                  font-size: 70px;
                  font-weight: 700;
                  background: url(https://cutesolution.com/html/Techvio/assets/img/slider-2.jpg) no-repeat;
                  background-position: 50% 53%;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  line-height: 1.1;
                }
        
                h5 {
                  color: $section-title-color;
                  font-size: 16px;
                  font-weight: 700;
                  margin-top: 10px;
                  text-transform: uppercase;
                }
        
                @media only screen and (min-width: 320px) and (max-width: 800px) {
                  left: 3em;
                }
              }
            }
          }
        
       
    }
}